#exampleModal.modal.fade.show(tabindex='-1', aria-labelledby='exampleModalLabel' ,
style="padding-right:15px;display:block;", aria-modal="true", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Modal title
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        | ...
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes
