#modal-backdrop.modal-backdrop.fade.show(style="display:block")
#eventModal.modal.fade.show(tabindex='-1', aria-labelledby='eventModalLabel', aria-hidden="true", style="display:block;")
  .modal-dialog
    .modal-content
      form(hx-post="/events")
        input(type="hidden",name="date", value=currentDate)
        .modal-header
          h5#eventModalLabel.modal-title New Event - #{currentDate}
          button.btn-close(type='button' onclick="closeModal()" aria-label='Close')
        .modal-body
          .mb-3
            label.form-label Time:
            select.form-select(name="time",aria-label="Time")
              option 1:00
              option 2:00
              option 3:00
              option 4:00
              option 5:00
              option 7:00
              option 8:00
              option 9:00
              option 10:00
              option 11:00
              option 12:00
          .mb-3
            .form-check.form-check-inline
              input.form-check-input(type="radio", name="ampm", value="AM", checked="true")
              label.form-check-label AM
            .form-check.form-check-inline
              input.form-check-input(type="radio", name="ampm", value="PM")
              label.form-check-label PM
            .form-group.my-3
              textarea#calendar_event_description.form-control(placeholder='Description for this event...' rows='3' name='description')

        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
          button.btn.btn-primary(type='submit', onclick="closeModal()") Save changes
